h1= @task.name

p=  @task.description
p=  @task.status
p=  @task.creator
p=  @task.performer
p=  @task.completed

= link_to 'Update task', edit_task_path(@task)
= link_to 'Delete task', task_path(@task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
= link_to 'Home', root_path
